token = token
prefix = ?
guildId = main_guild_id
clientId = bot_id
mysql_host="localhost"
mysql_port=3306
MYSQL_DATABASE="database"
MYSQL_USER="username"
MYSQL_PASSWORD="password"
MYSQL_ROOT_PASSWORD="password"
themeColor = "#39b5af"
brandName = "Ploxy"