prefix = ?
bot_token = SOME RANDOM BOT TOKEN FROM https://discord.com/developers/applications/
connection_string = MONGODB Connection string with username and password preset
prod = (0: no pulling of files, 1: main, 2:test branch, 3: private repo)
prod_string = place for for the link if you select prod value 3
sqlite = (true or false, whether to enable sqlite database instead of mongo)
